<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TrendyAI</title>
  <link rel="shortcut icon" type="image/png" href="../../static/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../static/css/styles.min.css" />
   <style>
    .table-container {
      max-height: 500px; /* Set a maximum height for the container */
      overflow-y: auto; /* Enable vertical scrollbar */
    }
    
    .myspinner {
      height: 10vh;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/" class="text-nowrap logo-img">
            <h2> <b> TrendyAI </b> </h2>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Trend-GPT</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">What's Trending?</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">GPT Vision</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vision" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Picture This!</span>
              </a>
            </li>
          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Get notified on teams</a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../static/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">

        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
                <h1> Ask your picture anything</h1>
            </div>
        </div>

        <div class="text-end">
          <h6>Want to upload another picture and ask questions about it?</h6>
          <a class="btn btn-outline-secondary mt-2 active" href="/vision">Ask Another Picture</a>
        </div>
        
        <div class="container mt-5">

            <h2>Uploaded Photo:</h2>
            <br>

            <div>
              <img id="received_img" src="../static/images/uploads/{{ image_filename }}" class="d-block mx-auto" style="max-width: 60%; max-height: 60%;" alt="">
            </div>


            <br>
            <br>
            <div class="d-flex justify-content-between"> 
              <h3>Chat History: </h3>
              <button class="btn btn-outline-success active d-inline" onclick="save_to_txt()">Save Chat History</button>
            </div>
            
            <div id="chat_history" class="my-3 px-5 pt-3">

              <h5 class="text-primary"><b>User Query: </b></h5><span>{{user_prompt}}</span>
              <br><br>
              <h5 class="text-secondary"><b>TrendyAI Response: </b></h5>
              <span>{{gpt_response}}</span>
              <br><br>

            </div>

            <div class="pb-5 d-none" id="loader">
              <div class="myspinner">
                <div class="spinner-border" role="status">
                </div>
              </div>
              <div class="mx-auto text-center">
                <b>TrendyAI is generating an answer, please wait...</b>
              </div>
            </div>
            
            <label class="form-label" for="user_prompt">Enter your query here:</label>
            <input type="text" name="user_prompt" class="form-control" id="user_prompt" placeholder="Enter your query here:">
            <input type="submit" id="submit_btn" value="Ask TrendyAI" class="btn btn-outline-primary mt-3 active" onclick="send_query()">

        </div>

      </div>
    </div>
  </div>

  <script>
    function send_query() {

      if (document.getElementById("user_prompt").value == "") {
        alert("Please enter a query!");
        return;
      }

      // Show the loader
      document.getElementById("loader").classList.remove("d-none");

      // Disable the submit button
      document.getElementById("submit_btn").classList.add("disabled");

      // Get the user prompt
      var user_prompt = document.getElementById("user_prompt").value;

      // Get Chat History 
      var chat_history = document.getElementById("chat_history").innerHTML;

      // SEND USING AXIOS - SEND OVER THE USER_PROMPT AND THE IMAGE_FILENAME
      axios.post('/new_query', {
        user_prompt: user_prompt,
        image_filename: "{{ image_filename }}",
        chat_history: chat_history
      })
      .then(function (response) {
        document.getElementById("chat_history").innerHTML += "<h5 class='text-primary'><b>User Query: </b></h5><span>" + user_prompt + "</span><br><br><h5 class='text-secondary'><b>TrendyAI Response: </b></h5><span>" + response.data.gpt_response + "</span><br><br>";

        // Hide the loader
        document.getElementById("loader").classList.add("d-none");

        // Clear the user prompt
        document.getElementById("user_prompt").value = "";

        // Enable the submit button
        document.getElementById("submit_btn").classList.remove("disabled");
      })
      .catch(function (error) {
        console.log(error);
        alert("Error while generating answer!\n\n" + "Error: " + error + "\n\nPlease try again in about 30 seconds. If the problem persists, please contact us.");

        // Hide the loader
        document.getElementById("loader").classList.add("d-none");

        // Clear the user prompt
        document.getElementById("user_prompt").value = "";

        // Enable the submit button
        document.getElementById("submit_btn").classList.remove("disabled");
      });
    }

    function save_to_txt() {
      // Get the content of the chat_history div
      var chatHistoryContent = document.getElementById("chat_history").innerText;

      // Create a Blob with the content
      var blob = new Blob([chatHistoryContent], { type: "text/plain" });

      // Create a download link
      var a = document.createElement("a");
      a.href = URL.createObjectURL(blob);
      a.download = "{{image_filename}}.txt";

      // Append the link to the body
      document.body.appendChild(a);

      // Programmatically trigger the download
      a.click();

      // Remove the link from the body
      document.body.removeChild(a);
  }


  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../../static/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/js/sidebarmenu.js"></script>
  <script src="../../static/js/app.min.js"></script>
  <script src="../../static/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../../static/libs/simplebar/dist/simplebar.js"></script>
  <script src="../../static/js/dashboard.js"></script>
</body>

</html>


<!-- 
  Option to save chat history to a file (txt)
 -->